@model ObiletDemo.Web.Models.SystemInfoResponse

@{
    ViewData["Title"] = "System Information";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">System Information</h2>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-md-4 font-weight-bold">Project Name:</div>
                        <div class="col-md-8">@Model.ProjectName</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 font-weight-bold">Description:</div>
                        <div class="col-md-8">@Model.Description</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 font-weight-bold">Architecture:</div>
                        <div class="col-md-8">@Model.Architecture</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 font-weight-bold">Framework:</div>
                        <div class="col-md-8">@Model.Framework</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 font-weight-bold">Technologies:</div>
                        <div class="col-md-8">
                            <ul class="list-unstyled">
                                @foreach (var tech in Model.Technologies)
                                {
                                    <li>@tech</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>